p {
  indent: 4em;
}
table {
  indent: 1.5em;
  /* border: 0px solid; */
  border-collapse: collapse;
}
td {
 /* border: 0px solid; */
  height: 42px;
}
th {
  /* border: 0px solid; */
  height: 42px;
}
td.notes {
  font-size: 60%;
  font-style: italic;
}
